.create-task-modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 120px;

    .form-create-task {
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        width: 25%;
    }

    .header-create-task {
        background-color: rgb(243, 244, 246);
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .create-task-body {
        width: 100%;

        .input-style {
            padding-top: 0.75rem;
            border-width: 0px;
            color: rgb(75, 85, 99);
            font-weight: 600;
            padding-bottom: 0.5rem;
            width: 100%;
            border-bottom-width: 2px;
            border-color: rgb(229, 231, 235);
        
            &:focus {
                outline-width: 0px;
                border-color: rgb(59, 130, 246);
            }
        }

        .label-style {
            text-align: left;
        }

        .btn {
            font-size: 21px;
            padding: 5px 20px;
            margin-top: 10px;
            border: 0;
            background-color: #c65ad6;
            color: #fff;
            border-radius: 3px;
            transition: all 250ms ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #ac2abf;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.task-header {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    width: 100%;
    left: 0;

    .create-task-button {
        margin-left: 2%;
        margin-right: 2%;
    
        &:hover {
            background-color: #0255d1
        }
    }
}

.form-style {
    margin-top: 5%;
    width: 100%;
}

#header-style {
    width: 100%;
}

.list-items {
    margin-top: 2%;
    margin-left: 10%;
}

.task-item {
    width: 90%;
    // background-color: #7df57a;
    padding: 1rem;
    margin: .8rem 0;
    border-radius: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    color: black;

    .task-input {
        padding: 0.2rem;
        margin: .2rem 0;
        border-radius: 30px;
        border-color: transparent;
        background-color: transparent;
        text-align: center;
    }
}

.edit-delete-button {
    margin-left: 10px;
    margin-right: 10px;
}

.filter-button {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    z-index: -1;

    .btn-group {
        background-color: #c65ad6;
    }

    .btn {
        background-color: #c65ad6;
        color: white;

        &:hover {
            background-color: #ac2abf;
        }
    
        &:focus {
            outline: none;
        }

        &:active {
            background-color: #ac2abf;
        }
    }
}

.btn-display {
    font-size: 21px;
    padding: 5px 20px;
    margin-top: 10px;
    border: 0;
    background-color: #c65ad6;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
        background-color: #ac2abf;
    }

    &:focus {
        outline: none;
    }
}